body {
  margin-top: 100px !important;
}

body .bg-dark {
  /*background-color: #94CF9F !important;*/
  background-color: #3D3735;
}

.jumbotron {
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  font-weight: bold;
  margin-bottom: 100px;
  padding: 100px;
  border-radius: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 75);
  background-clip: padding-box;
}

.jumbotron h1, p {
  background-color: #ffffff73;
  padding: 50px;
}
